@variants hover {
	.underline-link-pe {
		border-top: 1px solid theme(colors.green.100);
		bottom: 0;
		content: '';
		display: block;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		transition: all var(--transition-duration) ease-in-out;
		width: 0;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	@apply font-bold;
	@apply text-blue-700;

	line-height: 1.25em;
}

.h1 {
	font-size: calc(theme('fontSize.4xl')*0.75);
	@apply mb-2;
}

.h2 {
	font-size: calc(theme('fontSize.3xl')*0.75);
	@apply mb-3;
}

.h3 {
	font-size: calc(theme('fontSize.2xl')*0.75);
	@apply mb-3;
}

.h4 {
	font-size: calc(theme('fontSize.xl')*0.75);
	@apply mb-3;
}

.h5 {
	font-size: calc(theme('fontSize.lg')*0.75);
	@apply mb-4;
}

.h6 {
	@apply text-base;
	@apply mb-4;
}

@variants responsive {
	.h1-lg {
		@apply text-4xl;
	}

	.h2-lg {
		@apply text-3xl;
	}

	.h3-lg {
		@apply text-2xl;
	}

	.h4-lg {
		@apply text-xl;
	}

	.h5-lg {
		@apply text-lg;
	}

	.h6-lg {
		@apply text-base;
	}
}

.preheading {
	@apply normal-case;
	@apply text-rel-xs;
	@apply tracking-normal;
}

@variants responsive {
	.last-child-m-0 > :last-child {
		@apply m-0;
	}
}

@variants hover {

	.button {
		@apply bg-yellow-500;
		@apply border;
		@apply border-yellow-500;
		@apply inline-block;
		@apply px-4;
		@apply py-2;
		@apply text-center;
		@apply text-blue-700;
		@apply text-xs;
		@apply tracking-wider;
		@apply uppercase;
		@apply whitespace-no-wrap;

		transition: all var(--transition-duration) ease-in-out;
	}

	.button-outline {
		@apply bg-transparent !important;
		@apply border-yellow-500 !important;
		@apply text-yellow-500 !important;
	}

	.button-outline-dark {
		@apply bg-transparent !important;
		@apply border-blue-700 !important;
		@apply text-blue-700 !important;
	}

	.button-dark {
		@apply bg-blue-700 !important;
		@apply border-blue-700 !important;
		@apply text-yellow-500 !important;
	}

	.button-white {
		@apply border-white !important;
		@apply text-white !important;
	}

}
