#site-footer a {
	@apply text-gray-200;
}

#site-footer a:hover {
	@apply text-gray-100;
}

#legal-navigation ul {
	@apply flex;
	@apply justify-center;
}

#legal-navigation li {
	@apply leading-none;
	@apply px-4;
}

#legal-navigation li:first-child {
	@apply pl-0;
}

@media (min-width: theme('screens.md')) {
	#legal-navigation li:not(:last-child) {
		@apply border-r;
		@apply border-gray-200;
	}

	.footer-1-col-menu > li {
		@apply border-r;
		@apply border-gray-500;
		@apply px-4;
	}

		.footer-1-col-menu > li:last-child {
		@apply border-none;
	} 
}