/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
 @apply button;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	@apply button-outline;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	@apply outline-none;
}

.button-white:hover {
	@apply bg-transparent;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	@apply border;
	@apply border-white;
	@apply h-10;
	@apply px-4;
	@apply py-2;
	@apply text-sm;
	@apply w-full;
}

textarea {
	@apply h-auto;
}

input::placeholder {
	@apply text-gray-600;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	@apply border-orange-500;
	@apply outline-none;
}

select,
.select2-container--default .select2-selection--single {
	@apply bg-white;
	@apply border;
	@apply border-orange-200;
	@apply h-10;
	@apply outline-none;
	@apply px-4;
	@apply py-2;
	@apply w-full;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	@apply leading-normal;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50%;
	transform: translateY(-50%);
}

textarea {
	@apply outline-none;
	@apply w-full;
}

textarea:focus {
	@apply border-orange-500;
}

input[type="text"].dark-input,
input[type="email"].dark-input,
input[type="url"].dark-input,
input[type="password"].dark-input,
input[type="search"].dark-input,
input[type="number"].dark-input,
input[type="tel"].dark-input,
input[type="range"].dark-input,
input[type="date"].dark-input,
input[type="month"].dark-input,
input[type="week"].dark-input,
input[type="time"].dark-input,
input[type="datetime"].dark-input,
input[type="datetime-local"].dark-input,
input[type="color"].dark-input,
textarea.dark-input {
	@apply bg-green-500;
	@apply border-green-500;
	@apply text-green-200;
}

input.dark-input::placeholder {
	@apply text-green-200;
}

input[type="text"].darker-input,
input[type="email"].darker-input,
input[type="url"].darker-input,
input[type="password"].darker-input,
input[type="search"].darker-input,
input[type="number"].darker-input,
input[type="tel"].darker-input,
input[type="range"].darker-input,
input[type="date"].darker-input,
input[type="month"].darker-input,
input[type="week"].darker-input,
input[type="time"].darker-input,
input[type="datetime"].darker-input,
input[type="datetime-local"].darker-input,
input[type="color"].darker-input,
textarea.darker-input {
	@apply bg-green-800;
	@apply border-green-800;
	@apply text-green-200;
}

input.darker-input::placeholder {
	@apply text-green-200;
}

label {
	@apply block;
	@apply font-normal;
	@apply mb-2;
}

/* ACF */

.acf-field {
	@apply mb-4;
}

.acf-label .description {
	@apply mb-2;
	@apply -mt-2;
}