html {
	/*font-size: 12px;*/
}

body {
	@apply text-gray-900;
}

@media (min-width: theme('screens.lg')) {
	html {
		font-size: 16px;
	}

	html,
	body {
		overflow-x: hidden;
	}
}

.edit-link {
	@apply hidden;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-bold;
	@apply text-blue-700;

	line-height: 1.25em;
}

h1 {
	font-size: calc(theme('fontSize.4xl')*0.75);
	@apply mb-2;
}

h2 {
	font-size: calc(theme('fontSize.3xl')*0.75);
	@apply mb-3;
}

h3 {
	font-size: calc(theme('fontSize.2xl')*0.75);
	@apply mb-3;
}

h4 {
	font-size: calc(theme('fontSize.xl')*0.75);
	@apply mb-3;
}

h5 {
	font-size: calc(theme('fontSize.lg')*0.75);
	@apply mb-4;
}

h6 {
	@apply text-base;
	@apply mb-4;
}

@media (min-width: theme('screens.lg')) {
	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	h4 {
		@apply text-xl;
	}

	h5 {
		@apply text-lg;
	}

	h6 {
		@apply text-base;
	}
}

.preheading {
	@apply normal-case;
	@apply text-rel-xs;
	@apply tracking-normal;
}

a {
	transition: all var(--transition-duration) ease-in-out;
}

p {
	@apply mb-4;
}

th {
	@apply font-normal;
}

.entry-content ol,
.entry-content ul {
	@apply mb-4;
	@apply ml-3;
}

.entry-content ol li,
.entry-content ul li {
	@apply mb-2;
	@apply ml-2;
}

.entry-content ol li {
	counter-increment: li;
}

.entry-content li::before {
	@apply inline-block;
	@apply -ml-5;
	@apply mr-2;
	@apply text-orange-600;
	@apply text-right;

	width: theme('spacing.3');
}

.entry-content ol li::before {
	content: '.' counter(li);
	direction: rtl;
}

.entry-content ul li::before {
	content: "\2022";
}

.entry-content .alignfull,
.entry-content .alignwide {
	@apply my-8;
}

.alignfull {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: none;
}

.alignwide,
.alignwide img {
	@apply w-full;
}

.icon-wrap svg {
	@apply h-full;
	@apply w-full;
}

.icon-white svg path {
	fill: #ffffff;
}

.social-icon-wrap path {
	@apply fill-current;
	transition: all var(--transition-duration) ease-in-out;
}

.social-icon-wrap:hover path {
	@apply fill-current;
}

.woocommerce-products-header {
	@apply p-6;
}

@media (min-width: theme('screens.lg')) {
	.woocommerce-products-header {
		@apply py-8;
	}
}

.woocommerce-products-header__title {
	@apply mb-0;
}