.menu-toggle {
	@apply block;

	height: 36px;
	top: 50%;
	transform: translateY(-50%);
	width: 36px;
}

.menu-toggle .bar-bottom,
.menu-toggle .bar-mid,
.menu-toggle .bar-top {
	@apply absolute;
	@apply block;

	border-top: 2px solid theme('colors.yellow.500');
	content: '';
	left: 50%;
	top: 50%;
	transition: all ease-in-out 300ms;
	width: 16px;
}

.menu-toggle[aria-expanded="true"] .bar-bottom {
	transform: translate(-50%, -25%) rotate(45deg);
}

.menu-toggle[aria-expanded="true"] .bar-mid {
	transform: scaleX(0);
}

.menu-toggle[aria-expanded="true"] .bar-top {
	transform: translate(-50%, -25%) rotate(-45deg);
}

.menu-toggle .bar-bottom {
	transform: translate(-50%, 300%);
}

.menu-toggle .bar-mid {
	transform: translate(-50%, -25%);
}

.menu-toggle .bar-top {
	transform: translate(-50%, -350%);
}

@media (min-width: theme('screens.xl')) {

	.menu-toggle {
		@apply hidden;
	}

}