/* body.page #main {
	@apply pb-6;
}

body.page article.page {
	@apply max-w-4xl;
	@apply mx-auto;
	@apply px-6;
}

body.woocommerce-page article.page {
	@apply max-w-full;
}

@media (min-width: theme('screens.lg')) {
	body.page article.page {
		@apply px-0;
	}
} */
