.post-navigation {
  @apply pt-8;
  @apply text-sm;
}

.post-navigation .nav-links {
  @apply flex;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
  @apply px-4;
  @apply min-w-1/2;
}

  .post-navigation .nav-next {
  @apply text-right;
}

.post-navigation .nav-next a,
.post-navigation .nav-previous a {
  @apply inline-block;
  @apply relative;
}

.post-navigation .nav-next a {
  @apply pr-6;
}

.post-navigation .nav-previous a {
  @apply pl-6;
}

.post-navigation .nav-previous a::before,
.post-navigation .nav-next a::after {
  @apply absolute;
  @apply inline-block;
  @apply top-0;
}

.post-navigation .nav-previous a::before {
  @apply left-0;
  @apply mr-2;

  content: '\2190';
}

.post-navigation .nav-next a::after {
  @apply ml-2;
  @apply right-0;

  content: '\2192';
}

@media ( max-width: theme('screens.md') ) {
  .post-navigation .nav-previous + .nav-next {
    @apply border-gray-500;
    @apply border-l;
  }
}

@media ( min-width: theme('screens.lg') ) {
  .post-navigation .nav-previous,
  .post-navigation .nav-next {
    @apply px-8;
  }
}
