#site-navigation {
	@apply block;
	@apply text-center;
	
	clear: both;
}

/* all lists in main nav */
#site-navigation ul {
	@apply list-none;
	@apply m-0;
	@apply pl-0;
}

/* All items in main nav */
#site-navigation li {
	@apply relative;
}

/* All links in main nav */
#site-navigation a {
	@apply block;
	@apply p-4;
	@apply text-sm;
	@apply text-blue-100;
}

#site-navigation a:hover {
}

/* A wrapper for the menu used to toggle display. */
#site-navigation .menu-wrap {
	transition: all ease-in-out 300ms;
}

#site-navigation.toggled .menu-wrap {
	@apply absolute;
	@apply block;
	@apply left-0;
	@apply w-full;

	top: 100%;
}

/* Second and lower level lists */
#site-navigation .sub-menu {
	@apply hidden;
}

/* All links in sub menus */
#site-navigation .sub-menu a {
}

/* Top level items */
#site-navigation .menu-item-level-1 {
	@apply text-lg;
}

/* Second-level items */
#site-navigation .menu-item-level-2 {
}

@media (max-width: theme('screens.xl')) {

	/* Lists with focused parent */
	#site-navigation .focus > ul {
		@apply block;
	}

}

@media (min-width: theme('screens.xl')) {

	#site-navigation .menu {
		@apply flex;
		@apply -mx-2;
	}

	#site-navigation ul:first-child {
	}

	/* All links in main nav */
	#site-navigation a {
		@apply inline-block;
	}

	/* Second and lower level lists */
	#site-navigation .sub-menu {
		@apply hidden;
	}

	/* Top level items */
	#site-navigation .menu-item-level-1 {
	}

	/* Top level links */
	#site-navigation .menu-link-level-1 {
	}

	/* Second-level items */
	#site-navigation .menu-item-level-2 {
	}

	/* Second-level links */
	#site-navigation .menu-link-level-2 {
	}

	/* Submenus */

	#site-navigation .menu-item-has-children {
		@apply relative;
	}

	#site-navigation .sub-menu {
		@apply absolute;
		@apply hidden;
	}

	#site-navigation li:hover > .sub-menu {
		@apply block;
	}

	/* Top-level sub-menus */
	#site-navigation .menu-sub-menu-level-1 {
		@apply left-0;
		top: 100%;
	}

	/* Second and lower-level sub-menus */
	#site-navigation .sub-menu .sub-menu {
		left: 100%;
		@apply top-0;
	}
}