table {
	@apply bg-orange-100;
	@apply border;
	@apply border-orange-500;
	@apply mb-4;
	@apply w-full;
}

td,
th {
	@apply p-3;
	@apply text-left;
}

th {
	@apply font-normal;
}

thead th {
	@apply bg-orange-500;
	@apply text-white;
}