#utility-menu svg.basket-icon {
	height: 22px;
}

#utility-menu svg.heart-icon {
	height: 18px;
}

#utility-menu svg.woman-icon {
	height: 22px;
}

#utility-menu svg path {
	fill: theme('colors.green.200');
}

#utility-menu a:hover {
	@apply text-green-100;
}

#utility-menu a:hover svg path {
	@apply fill-current;
}