:root {
	--transition-duration: 300ms;

	--button-background-color: theme('colors.yellow.500');
	--button-background-color-hover: transparent;
	--button-border-color: var(--color-secondary);
	--button-border-color-hover: var(--color-secondary);
	--button-border-radius: 0;
	--button-border-width: 1px;
	--button-border-style: solid;
	--button-color: var(--color-primary);
	--button-color-hover: var(--color-secondary);
	--button-font-size: 12px;
	--button-font-weight: normal;
	--button-letter-spacing: 0.15em;
	--button-padding: 11px;
	--button-small-font-size: 10px;
	--button-small-padding: 9px;
	--button-text-transform: uppercase;

	--button-inverse-background-color: transparent;
	--button-inverse-background-color-hover: transparent;
	--button-inverse-border-color: var(--color-light);
	--button-inverse-border-color-hover: var(--color-light);
	--button-inverse-color: var(--color-light);
	--button-inverse-color-hover: var(--color-light);

	--button-outline-background-color: transparent;
	--button-outline-background-color-hover: var(--button-background-color);
	--button-outline-border-color: var(--button-border-color);
	--button-outline-border-color-hover: var(--button-border-color);
	--button-outline-color: var(--button-border-color);
	--button-outline-color-hover: var(--button-color);
}