body.woocommerce-account #main {
	@apply pb-0;
}

.woocommerce-MyAccount-navigation {
	@apply bg-green-900;
}

.woocommerce-MyAccount-navigation a {
	@apply block;
	@apply p-4;
	@apply text-green-100;
}

.woocommerce-MyAccount-navigation a:hover,
.woocommerce-MyAccount-navigation li.is-active a {
	@apply bg-green-800;
}

@media (min-width: theme('screens.lg')) {

	#account_wrapper {
		@apply flex;
	}

	.woocommerce-MyAccount-navigation {
		@apply w-1/4;
	}

	body.woocommerce-account .page {
		@apply w-3/4;
	}

	body.woocommerce-account .entry-header {
		@apply text-left;
	}

	body.woocommerce-account .entry-content {
		@apply pb-6;
		@apply px-6;
	}
}