body.woocommerce-checkout #main {
	@apply pb-6;
}

body.woocommerce-checkout .entry-content {
	@apply px-6;
}

body.woocommerce-checkout .checkout {
	@apply mt-6;
}

.woocommerce-form-coupon-toggle {
	@apply bg-orange-100;
	@apply p-6;
}

.woocommerce-form-coupon-toggle a {
	@apply font-normal;
	@apply text-orange-600;
}

.checkout_coupon {
	@apply bg-orange-100;
	@apply flex;
	@apply flex-wrap;
	@apply justify-between;
	@apply pb-6;
	@apply px-6;
}

.checkout_coupon p {
	@apply w-full;
}

.checkout_coupon .form-row-first {
	@apply flex-grow;
	@apply mr-2;
	@apply w-auto;
}

.checkout_coupon .form-row-last {
	@apply mb-0;
	@apply w-auto;
}

.checkout_coupon .clear {
	@apply hidden;
}

label[for="payment_method_stripe"] {
	@apply flex;
}

#add_payment_method #payment ul.payment_methods li img.stripe-icon,
.woocommerce-checkout #payment ul.payment_methods li img.stripe-icon {
	@apply ml-2;
}

body.woocommerce-checkout .woocommerce-checkout-payment {
	@apply mt-6;
}

#ship-to-different-address {
	@apply font-sans;
	@apply text-base;
}

#place_order {
	@apply button;
	@apply button-filled-dark;
	@apply mt-6;
	@apply w-full;
}

.woocommerce-thankyou-order-received,
.woocommerce-thankyou-order-details {
	@apply text-center;
}

.woocommerce-order-received .woocommerce-order-details {
	@apply mt-6;
}

.woocommerce-order-received .woocommerce-customer-details .woocommerce-columns {
	@apply bg-orange-100;
	@apply grid;
	@apply grid-cols-2;
	@apply gap-6;
	@apply mt-6;
	@apply p-6;
}

@media (min-width: theme('screens.lg')) {

	body.woocommerce-checkout .checkout {
		@apply grid;
		@apply grid-cols-2;
		@apply gap-6;
	}

	.woocommerce-NoticeGroup-checkout,
	body.woocommerce-checkout #customer_details,
	body.woocommerce-checkout #review_order_wrapper {
		@apply bg-orange-100;
		@apply p-6;
	}

	.woocommerce-NoticeGroup-checkout {
		@apply col-span-2;
	}
}
