body.woocommerce-cart .woocommerce {
	@apply pb-6;
	@apply pl-6;
	@apply pr-6;
}

@media (min-width: theme('screens.lg')) {
	body.woocommerce-cart #cart_wrapper {
		@apply flex;
	}
}

body.woocommerce-cart .woocommerce-cart-form .shop_table {
	@apply w-full;
}

body.woocommerce-cart .cart-empty,
body.woocommerce-cart .return-to-shop {
	@apply text-center;
}

@media (max-width: theme('screens.lg')) {

	body.woocommerce-cart .woocommerce-cart-form .shop_table {
		@apply flex;
		@apply flex-no-wrap;
	}

	body.woocommerce-cart .woocommerce-cart-form thead {
		@apply hidden;
	}

	body.woocommerce-cart .woocommerce-cart-form td {
		@apply block;
		@apply float-left;
	}

	body.woocommerce-cart .woocommerce-cart-form .product-thumbnail {
		@apply w-1/4;
	}

	body.woocommerce-cart .woocommerce-cart-form .product-thumbnail img {
		@apply w-full;
	}

	body.woocommerce-cart .woocommerce-cart-form .product-price {
		@apply hidden;
	}

	body.woocommerce-cart .woocommerce-cart-form .product-name {
		@apply w-3/4;
	}

	body.woocommerce-cart .woocommerce-cart-form .product-quantity {
		width: 8rem;
	}

	body.woocommerce-cart .woocommerce-cart-form .product-subtotal {
		@apply float-right;
	}

	body.woocommerce-cart .cart-collaterals {
		@apply mt-6;
	}
}

@media (min-width: theme('screens.lg')) {
	body.woocommerce-cart .woocommerce-cart-form {
		@apply mr-6;
		@apply w-2/3;
	}

	body.woocommerce-cart .cart-collaterals {
		@apply w-1/3;
	}
}

.woocommerce-cart-form__cart-item + .woocommerce-cart-form__cart-item {
	@apply border-orange-300;
	@apply border-t;
}

.woocommerce-cart-form .product-thumbnail img {
	@apply h-auto;

	width: 150px;
}

.woocommerce-cart-form .product-subtotal .woocommerce-Price-amount {
	@apply font-normal;
}

.woocommerce-cart-form .product-name a {
	@apply font-normal;
	@apply text-orange-600;
}

.woocommerce-cart-form .product-remove {
	@apply hidden !important;
}

.woocommerce-cart-form .actions {
	@apply border-t;
	@apply border-orange-500;
	@apply w-full;
}

.woocommerce-cart-form .actions .coupon {
	@apply border-b;
	@apply border-orange-300;
	@apply flex;
	@apply justify-between;
	@apply pb-4;
}

@media (min-width: theme('screens.lg')) {
	.woocommerce-cart-form .actions .coupon {
		@apply border-none;
		@apply float-left;
		@apply pb-0;
		@apply w-2/3;
	}
}

.woocommerce-cart-form .actions .coupon label {
	@apply hidden
}

.woocommerce-cart-form #coupon_code {
	@apply flex-grow;
	@apply mr-2;
	@apply w-1/2;
}

.woocommerce-cart-form button[name='update_cart'] {
	@apply block;
	@apply mt-4;
	@apply mx-auto;
}

@media (min-width: theme('screens.lg')) {
	.woocommerce-cart-form button[name='update_cart'] {
		@apply mt-0;

		float: right;
	}
}

.cart_totals h2 {
	@apply hidden;
}

.cart_totals .shop_table {
	@apply bg-orange-100;
	@apply border;
	@apply border-orange-500;
	@apply w-full;
}

.cart_totals .shop_table tr + tr {
	@apply border-orange-300;
	@apply border-t;
}

.cart_totals .shop_table th {
	@apply p-3;
	@apply text-left;
}

.cart_totals .shop_table td {
	@apply p-3;
	@apply text-right;
}

.cart_totals .checkout-button {
	@apply button;
	@apply button-filled-dark;
	@apply mt-6;
	@apply w-full;
}
