.woocommerce-notices-wrapper > div,
.woocommerce-notices-wrapper > p {
	@apply bg-orange-100;
	@apply flex;
	@apply items-center;
	@apply justify-between;
	@apply px-4;
	@apply py-2;
}

.woocommerce-notices-wrapper .button {
	@apply ml-4;

	order: 99;
}

.woocommerce-notices-wrapper > div + div,
.woocommerce-notices-wrapper > div + p {
	@apply border-t;
	@apply border-orange-400;
}