.products .product {
	@apply flex;
	@apply flex-col;
	@apply mb-2;
	@apply px-1;
	@apply text-center;
	@apply w-1/2;
}

@media (min-width: theme('screens.lg')) {
	.products .product {
		@apply mb-6;
		@apply px-3;
		@apply text-left;
		@apply w-1/4;
	}
}

.products .product.last {
	@apply mr-0;
}

.products .attachment-woocommerce_thumbnail {
	@apply w-full;
}

.products .woocommerce-loop-product__title {
	@apply .h4;
}

@media (min-width: theme('screens.lg')) {
	.products .woocommerce-loop-product__title {
		@apply .h4-lg;
	}
}

.products .product .add_to_cart_button {
	@apply hidden;
}

.products .product .price {
	@apply block;
	@apply mb-6;
}

@media (min-width: theme('screens.lg') ) {
	.products .product_thumbnail_container {
		@apply relative;
	}

	.products .product .add_to_cart_button {
		@apply absolute;
		@apply bottom-0;
		@apply button-white;
		@apply inline-block;
		@apply mb-6;
		@apply opacity-0;

		left: 50%;
		transform: translateX(-50%);
		transition: opacity var(--transition-duration) ease-in-out;
	}

	.products .product:hover .add_to_cart_button {
		@apply opacity-100;
	}
}