.woocommerce-product-gallery ol {
	@apply hidden;
}

@media (min-width: theme('screens.lg')) {
	.woocommerce-product-gallery ol {
		@apply flex;
		@apply justify-between;
		@apply mt-2;
	}

	.woocommerce-product-gallery li {
		@apply flex-grow;
		@apply mr-2;
	}

	.woocommerce-product-gallery li:last-child {
		@apply mr-0;
	}

	.woocommerce-product-gallery img {
		@apply w-full;
	}
}