.term-description {
	@apply font-serif;
	@apply mx-auto;
	@apply max-w-2xl;
}

.term-description p:last-child {
	@apply mb-0;
}

ul.products {
	@apply flex;
	@apply flex-wrap;
	@apply -mb-2;
	@apply -mx-1;
	@apply pb-2;
	@apply px-2;
}

@media (min-width: theme('screens.lg')) {
	ul.products {
		@apply -mb-6;
		@apply -mx-3;
		@apply pb-6;
		@apply px-6;
	}
}