.related.products {
	@apply mb-2;
	@apply pt-6;
}

@media (min-width: theme('screens.lg')) {
	.related.products {
		@apply mb-6;
	}
}

.related.products .products {
	@apply mt-5;
	@apply max-w-6xl;
}

@media (min-width: theme('screens.xl')) {
	.related.products .products {
		@apply mx-auto;
	}
}

.related.products .product {
	@apply mb-0;
}

@media (min-width: theme('screens.lg')) {
	.related.products .product {
		@apply mb-0;
		@apply w-1/3;
	}
}

@media (max-width: theme('screens.lg')) {
	.related.products .product:last-child {
		@apply hidden;
	}
}

/* Replace the heading text with CSS, to avoid creating a custom template just for this purpose. */
.related.products > h2 {
	@apply invisible;
	@apply text-center;
}

.related.products > h2::before {
	@apply absolute;
	@apply visible;
	@apply w-full;

	content: 'May We Also Suggest';
	left: 50%;
	transform: translateX(-50%);
}