#review_form .form-submit {
	@apply clear-both;
}

@media (min-width theme('screens.lg')) {
	#review_form .form-submit {
		@apply text-right;
	}
}

#comment-form-formatter {
	background-color: rgba(255, 255, 255, 0.4);
}

#commentform .form-submit {
	@apply mb-0;
}

#comment {
	height: 20.5rem;
}

.logged-in #comment {
	height: 9.5rem;
}

.review {
	@apply border-2;
	@apply border-orange-500;
	@apply mb-6;
	@apply p-6;
}

.review:last-child {
	@apply mb-0;
}

.comment-form-cookies-consent {
	@apply hidden;
}

.comment-notes {
	@apply mb-0;
	@apply mt-4;
}

/**
 * Star ratings
 */
.star-rating {
	@apply h-5;
	@apply leading-none;
	@apply overflow-hidden;
	@apply relative;
	@apply text-orange-500;

	transform-origin: left;
	width: 5.75em;
}

.star-rating::before {
	@apply absolute;
	@apply float-left;
	@apply left-0;
	@apply text-xl;
	@apply top-0;

	content: "\e900\e900\e900\e900\e900";
	font-family: "EE";
	letter-spacing: 0.25em;

}

.star-rating span {
	@apply absolute;
	@apply float-left;
	@apply left-0;
	@apply overflow-hidden;
	@apply pt-6;
	@apply top-0;
}

.star-rating span::before {
	@apply absolute;
	@apply left-0;
	@apply text-xl;
	@apply top-0;

	content: "\e901\e901\e901\e901\e901";
	font-family: "EE";
	letter-spacing: 0.25em;
}

/* the text next to the stars that says how many reviews */
.woocommerce-review-link {
	@apply ml-2;
}

.rating,
.woocommerce-product-rating {
	@apply flex;
	@apply justify-center;
}

@media (min-width: theme('screens.lg')) {
	.rating,
	.woocommerce-product-rating {
		@apply justify-start;
	}
}

.woocommerce-product-rating {
	@apply items-center;
	@apply mb-4;
}

.comment-form-rating {
	@apply mb-4;
}

.woocommerce p.stars {
	@apply h-10;
	@apply leading-none;
	@apply mb-0;

	width: 8.6em;
}

.woocommerce p.stars a {
	@apply inline-block;
	@apply relative;
	@apply text-orange-500;
	@apply text-3xl;
	@apply w-6;

	text-indent: -999em;
}

.woocommerce p.stars span {
	@apply inline-block;

	transform: scaleX(0.9);
	transform-origin: left;
}

.woocommerce p.stars a::before {
	@apply absolute;
	@apply block;
	@apply right-0;
	@apply top-0;
	@apply w-6;

	content: "\e900";
	font-family: "EE";
	text-indent: 0;
}

.woocommerce p.stars a:hover~a::before {
	content: "\e900";
}

.woocommerce p.stars:hover a::before {
	content: "\e901";
}

.woocommerce p.stars.selected a.active::before {
	content: "\e901";
}

.woocommerce p.stars.selected a.active~a::before {
	content: "\e900";
}

.woocommerce p.stars.selected a:not(.active)::before {
	content: "\e901";
}

/* Reviews */

.comment-text .description p:last-child {
	@apply mb-0;
}