.single-product #main .product {
	@apply max-w-6xl;
	@apply my-6;
	@apply mx-auto;
	@apply px-6;
}

@media (min-width: theme('screens.lg')) {
	.single-product #main .product {
		@apply flex;
		@apply my-6;
	}
}

@media (min-width: theme('screens.xl')) {
	.single-product #main .product {
		@apply px-0;
	}
}

.woocommerce-product-gallery {
	@apply max-w-xl;
	@apply mx-auto;
}

@media (min-width: theme('screens.lg')) {
	.woocommerce-product-gallery {
		@apply px-0;
		@apply mr-3;
		@apply w-1/2;
	}
}

.single-product .summary {
	@apply mb-6;
	@apply my-6;
	@apply text-center;
}

@media (min-width: theme('screens.lg')) {
	.single-product .summary {
		@apply bg-orange-100;
		@apply my-0;
		@apply mb-6;
		@apply p-6;
		@apply text-left;
	}
}

.single-product .summary .product_title {
	@apply h2;
}

.single-product .summary .price {
}

@media (min-width: theme('screens.lg')) {
	.single-product .summary .price {
		@apply border-b;
		@apply border-orange-400;
		@apply pb-4;
	}
}

.single-product .summary .cart {
	@apply flex;
}

.single-product .summary .quantity {
	@apply hidden;
}

@media (min-width: theme('screens.lg')) {
	.single-product .summary .quantity {
		@apply block;
		@apply mr-1;
		@apply w-1/2;
	}
}

.single-product .summary .qty {
	@apply w-full;
}

.single-product .summary .single_add_to_cart_button {
	@apply button-filled;
	@apply w-full;
}

@media (min-width: theme('screens.md')) {
	.single-product .summary .single_add_to_cart_button {
		@apply mx-auto;
		@apply w-auto;
	}
}

@media (min-width: theme('screens.lg')) {
	.single-product .summary .single_add_to_cart_button {
		@apply ml-1;
		@apply w-1/2;
	}
}