.wc-tabs {
	@apply hidden;
}

.r-tabs {
	@apply border-b;
	@apply border-orange-500;
}

.r-tabs-accordion-title {
	@apply border-t;
	@apply border-orange-500;
	@apply py-2;
	@apply text-xl;
}

.r-tabs-accordion-title a {
	@apply items-center;
	@apply flex;
}

.r-tabs-accordion-title a::before {
	@apply border;
	@apply border-orange-500;
	@apply font-bold;
	@apply h-8;
	@apply inline-block;
	@apply mr-2;
	@apply rounded-full;
	@apply text-center;
	@apply text-orange-500;
	@apply text-3xl;
	@apply w-8;

	content: '+';
	line-height: 0.9;
}

.r-tabs-accordion-title.r-tabs-state-active a::before {
	content: '–';
	line-height: 0.9;
}

.r-tabs .r-tabs-panel {
    @apply hidden;
}

.wc-tab {
	@apply py-2;
}

@media (min-width: theme('screens.lg')) {
	.r-tabs-accordion-title{
		@apply hidden;
	}
	
	.wc-tabs {
		@apply flex;
	}

	.wc-tabs li {
		@apply mr-1;
	}

	.wc-tabs li a {
		@apply bg-orange-100;
		@apply border-l;
		@apply border-r;
		@apply border-t;
		@apply border-orange-500;
		@apply inline-block;
		@apply px-4;
		@apply py-2;
		@apply rounded-t;
	}

	.wc-tabs li.r-tabs-state-active a {
		@apply bg-orange-500;
		@apply text-white;
	}

	.wc-tab {
		@apply bg-orange-100;
		@apply border;
		@apply border-orange-500;
		@apply border-t-2;
		@apply p-5;
	}
}
